@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@keyframes turnt {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(185deg); } }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0); }
  20%, 80% {
    transform: translate3d(4px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0); }
  40%, 60% {
    transform: translate3d(8px, 0, 0); } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes circle3 {
  0%, 25% {
    left: 32px;
    transform: scale(0); }
  50% {
    left: 32px;
    transform: scale(1); }
  75% {
    left: 100px; }
  100% {
    left: 168px;
    transform: scale(1); } }

@keyframes circle2 {
  0% {
    transform: scale(1); }
  25%, 100% {
    transform: scale(0); } }

@keyframes circle {
  0% {
    left: 32px;
    transform: scale(0); }
  25% {
    left: 32px;
    transform: scale(1); }
  50% {
    left: 100px; }
  75% {
    left: 168px;
    transform: scale(1); }
  100% {
    left: 168px;
    transform: scale(0); } }

.form__login, .form__account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #35394a 0%, #1f222e 100%);
  border-radius: 2px;
  border-top: 4px solid #c6ffdd;
  height: 450px;
  width: 350px;
  box-shadow: 0px .8rem 2rem #111; }
  .form__login--title, .form__account--title {
    color: #c6ffdd;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-weight: bold;
    font-size: 32px;
    transform: translateX(0%) translateY(-25%); }
    .form__login--title:before, .form__login--title:after, .form__account--title:before, .form__account--title:after {
      content: '';
      padding: .9em .4em;
      position: absolute;
      left: 50%;
      width: 100%;
      top: 50%;
      border: 15px solid #c6ffdd;
      transform: translateX(-50%) translateY(-50%) rotate(-5deg);
      animation: 1s forwards alternate cubic-bezier(0.9, 0.2, 0.3, 1) turnt; }
    .form__login--title:before, .form__account--title:before {
      border-color: #f7797d #fbd786 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      z-index: -1; }
    .form__login--title:after, .form__account--title:after {
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fbd786 #f7797d;
      box-shadow: 1rem 1rem 2rem rgba(46, 46, 49, 0.6); }
  .form__login h4, .form__account h4 {
    color: #999;
    padding-top: 1rem; }
  .form__login--email, .form__login--password, .form__login--username, .form__account--email, .form__account--password, .form__account--username {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: .5rem; }
    .form__login--email > input, .form__login--password > input, .form__login--username > input, .form__account--email > input, .form__account--password > input, .form__account--username > input {
      outline: none;
      width: 40%;
      height: 20px;
      border-radius: 50px;
      background: transparent;
      padding: 10px 50px;
      border: 2px solid #f7797d;
      color: #f7797d;
      text-transform: uppercase;
      font-size: 11px;
      transition: all .25s; }
      .form__login--email > input:focus, .form__login--password > input:focus, .form__login--username > input:focus, .form__account--email > input:focus, .form__account--password > input:focus, .form__account--username > input:focus {
        border: 2px solid #c6ffdd; }
      .form__login--email > input:hover, .form__login--password > input:hover, .form__login--username > input:hover, .form__account--email > input:hover, .form__account--password > input:hover, .form__account--username > input:hover {
        background: rgba(0, 0, 0, 0.2); }
  .form__login--submit, .form__account--submit {
    text-transform: uppercase;
    margin: 1rem;
    border-radius: 50px;
    background: transparent;
    padding: 10px 50px;
    border: 2px solid #f7797d;
    color: #f7797d;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    transition: all .25s; }
    .form__login--submit:hover, .form__account--submit:hover {
      background: #f7797d;
      color: #fff; }
  .form__login--account, .form__account--account {
    color: #fff;
    font-size: 14px; }
    .form__login--account > a, .form__account--account > a {
      text-decoration: none;
      color: #f7797d;
      transition: all .25s; }
      .form__login--account > a:hover, .form__account--account > a:hover {
        color: #c6ffdd;
        letter-spacing: 1px; }

.form__account--title:before, .form__account--title:after {
  animation: 1s forwards reverse cubic-bezier(0.9, 0.2, 0.3, 1) turnt; }

.navbar {
  display: flex;
  justify-content: center;
  height: 150px;
  overflow-x: hidden; }
  .navbar__avatar {
    flex: 3;
    color: #1f222e;
    font-size: 18px;
    text-transform: uppercase;
    margin: 1rem; }
    .navbar__avatar div {
      width: 100%;
      flex: 1; }
      .navbar__avatar div label {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 120px; }
        .navbar__avatar div label:hover > .avatar__change {
          transform: translateY(-0.5rem);
          opacity: 1; }
        .navbar__avatar div label .avatar__change {
          opacity: 0;
          transition: all .25s;
          transform: translateY(4rem); }
        .navbar__avatar div label h6 {
          line-height: 0;
          margin: 0; }
      .navbar__avatar div .user__image {
        flex: 1;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 2px solid rgba(255, 194, 196, 0.6);
        transition: linear 0.25s; }
        .navbar__avatar div .user__image:hover {
          transition: ease-out 0.2s;
          border: 2px solid rgba(247, 121, 125, 0.8); }
  .navbar__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    list-style: none;
    margin: 1rem; }
    .navbar__item > a {
      color: #1f222e;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase; }
      .navbar__item > a > div, .navbar__item > a img {
        transition: all .25s;
        margin: .25rem; }
      .navbar__item > a:hover > img {
        transform: scale(1.2); }
      .navbar__item > a:hover > div {
        font-weight: 600;
        letter-spacing: 2px; }

body {
  background-image: url("../svg/megatron-geometric.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 12px;
  padding-right: 12px;
  overflow-x: hidden; }

.landing {
  font-family: 'Gudea', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  max-width: 100%; }

.dashboard {
  height: 70vh;
  width: 70vw;
  min-width: 450px;
  overflow-y: hidden;
  background-color: rgba(251, 251, 251, 0.9);
  background-image: url("../svg/food.svg");
  border-top: 4px solid #f7797d;
  border-radius: 2px;
  box-shadow: 0px .8rem 2rem #111; }
  .dashboard--error {
    text-transform: uppercase;
    font-weight: 800;
    color: #1f222e; }

.bookmarks {
  margin: 1rem;
  overflow-y: hidden;
  height: 100%; }

#particles canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; }

@media all and (max-width: 900px) {
  body {
    font-size: calc(1.75rem + ((1vw - .78rem) * 1.389)); } }

.search__overlay {
  overflow-y: hidden; }

.search__modal {
  font-family: 'Gudea', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 50%;
  max-height: 90%;
  border-top: 4px solid #f7797d;
  border-radius: 2px;
  color: #fafbfc;
  background-color: rgba(251, 251, 251, 0.95);
  background-image: url("../svg/food.svg");
  box-shadow: 0px .8rem 2rem #111; }
  .search__modal h2 {
    flex: 1;
    color: #1f222e;
    font-weight: 100; }
  .search__modal img {
    flex: 1; }
  .search__modal form {
    flex: 1;
    width: 75%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .search__modal form > span {
      width: 100%; }
  .search__modal > form > span input {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background: rgba(46, 46, 49, 0.9);
    padding: 10px 50px;
    border: 2px solid #f7797d;
    color: #f7797d;
    text-transform: uppercase;
    font-size: 14px;
    transition: all .25s;
    outline: none; }
    .search__modal > form > span input:focus {
      border: 3px solid #c6ffdd; }
    .search__modal > form > span input:hover {
      background: rgba(0, 0, 0, 0.65); }

.search__close {
  color: #fff;
  outline: none;
  cursor: pointer; }

.search__icon {
  background-image: url("../svg/delete.svg");
  color: #fff;
  transition: all .25s; }
  .search__icon:hover {
    transform: scale(1.2); }

.recipe__single-overlay {
  height: 100%; }

.recipe__single-modal {
  font-family: 'Gudea', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  overflow-y: hidden;
  border-radius: 2px;
  color: #fbfbfb;
  box-shadow: none; }

.recipe__single-close {
  color: #fff;
  outline: none;
  cursor: pointer; }

.recipe__single-icon {
  background-image: url("../svg/delete.svg");
  color: #fff;
  margin: 1.25rem;
  position: relative;
  transition: all .25s;
  z-index: 3;
  filter: drop-shadow(0px 2px 2px #1f222e); }
  .recipe__single-icon:hover {
    transform: scale(1.2); }

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 180px;
  position: relative;
  overflow: hidden;
  list-style: none;
  margin: .5rem;
  border-top: 2px solid #f7797d;
  border-radius: 4px;
  background: #fbfbfb;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  transition: all .25s ease;
  cursor: pointer; }
  .recipe:before {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(45deg, #fbd786 0%, rgba(251, 215, 134, 0) 70%), linear-gradient(135deg, #f7797d 10%, rgba(247, 121, 125, 0) 80%), linear-gradient(225deg, #c6ffdd 10%, rgba(198, 255, 221, 0) 80%), linear-gradient(315deg, #fbd786 100%, rgba(251, 215, 134, 0) 70%);
    opacity: 0.6;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% calc(60% - 2vw), 0% 60%);
    transition: all .75s ease; }
  .recipe__label {
    flex: 1;
    word-break: break-word;
    margin: .5rem;
    line-height: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 4px;
    z-index: 2;
    position: relative;
    color: #2e3d49;
    transition: all .75s; }
  .recipe__image {
    flex: 1;
    clip-path: polygon(0 0, 100% 0, 100% calc(60% - 2vw), 0% 60%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: grayscale(150%);
    transition: all .75s; }
  .recipe__source {
    margin: 1rem;
    position: relative;
    align-self: flex-end;
    color: #2e3d49; }
  .recipe:hover {
    transform: scale(1.1); }
    .recipe:hover:before {
      opacity: .01;
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%); }
    .recipe:hover img {
      filter: contrast(100%);
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%); }
    .recipe:hover h4 {
      color: #fbfbfb;
      letter-spacing: 2px; }

.single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  border-top: 8px solid #f7797d;
  border-radius: 4px;
  background: #fbfbfb;
  box-shadow: 0px .8rem 2rem #111; }
  .single:before {
    display: block;
    background-image: url("../svg/food.svg");
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1; }
  .single__label {
    width: 65%;
    letter-spacing: 4px;
    font-weight: 800;
    display: block;
    margin: 0;
    background: #fff;
    padding: 2px 10px;
    font-size: 45px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #2e3d49;
    z-index: 2;
    text-shadow: 2px 2px 0px #fff, 4px 4px 0px #999, 6px 6px 0px #fff;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.05) 100%);
    background-image: -webkit-linear-gradient(bottom left, transparent 0%, transparent 25%, #f7797d 50%, #f7797d 50%, transparent 50%, transparent 75%, #f7797d 100%);
    background-size: 6px 6px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4) inset, 0px 0.8rem 2rem #111, 0 0 0px 3px #fff inset; }
  .single__image {
    flex: 1;
    filter: brightness(50%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%);
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-height: 400px;
    object-position: 0% 0%;
    position: absolute;
    z-index: 1; }
  .single h3 {
    color: #1f222e;
    text-align: center;
    z-index: 1;
    text-shadow: 1px 1px 0px #FFF, 2px 2px 0px #999, 3px 3px 0px #FFF; }
  .single__section {
    display: flex;
    flex-wrap: wrap;
    flex: 4;
    width: 100%;
    height: 100%; }
  .single__facts, .single__ingredients {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    z-index: 1;
    margin: 1rem;
    color: #1f222e;
    height: 100%;
    width: 100%;
    min-width: 250px;
    min-height: 300px;
    max-height: 50%;
    border-radius: 4px;
    background: #fbfbfb;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2); }
  .single__ingredients {
    align-items: flex-start;
    overflow-y: scroll;
    overflow-x: hidden; }
    .single__ingredients-item {
      display: block;
      position: relative;
      padding-left: 2rem;
      margin-bottom: .5rem;
      cursor: pointer;
      font-size: 16px;
      user-select: none; }
      .single__ingredients-item > input {
        position: absolute;
        opacity: 0;
        cursor: pointer; }
      .single__ingredients-item:hover input ~ .checkmark {
        transition: all .25s;
        background: #f7797d; }
      .single__ingredients-item > input:checked ~ .checkmark {
        background: #c6ffdd; }
        .single__ingredients-item > input:checked ~ .checkmark:after {
          display: block; }
      .single__ingredients-item .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.4rem;
        width: 1.4rem;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 50%; }
        .single__ingredients-item .checkmark:after {
          content: "";
          position: relative;
          display: none;
          margin-left: 8px;
          width: 5px;
          height: 16px;
          border: solid #f7797d;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg); }

.social {
  display: flex;
  align-items: flex-end;
  flex: 1;
  z-index: 1;
  top: 0;
  width: 65%;
  z-index: 2; }
  .social label h6 {
    color: #fbfbfb;
    letter-spacing: 1px;
    font-weight: 100;
    text-align: center;
    margin-top: 1rem;
    opacity: 0;
    transform: translateY(4rem);
    transition: all .25s; }
  .social label:hover > h6 {
    opacity: 1;
    transform: translateY(0rem); }
  .social__bookmark, .social__facebook, .social__twitter, .social__more, .social__delete {
    flex: 1;
    padding: .5rem;
    transition: all .25s;
    cursor: pointer;
    filter: drop-shadow(0px 2px 2px #1f222e); }
    .social__bookmark:hover, .social__facebook:hover, .social__twitter:hover, .social__more:hover, .social__delete:hover {
      transform: scale(1.25); }

@media all and (max-width: 745px) {
  .single {
    overflow-y: scroll; }
  .social {
    margin-bottom: 0; } }

@media all and (max-width: 450px) {
  .landing__dashboard {
    min-width: 95vw; }
    .landing__dashboard--nav {
      padding-left: 1rem;
      padding-right: 1rem; }
      .landing__dashboard--nav_item {
        transform: scale(0.6);
        margin: 0; }
  .social {
    flex-wrap: wrap; } }

.recipes__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: inset 0 12px 24px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  overflow-y: scroll;
  padding: .5rem;
  margin: 1rem;
  height: 50%; }
  .recipes__container-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #2e3d49;
    font-weight: 100; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 6px; }

::-webkit-scrollbar-thumb {
  background: #f7797d;
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #ffc2c4; }

.loading__container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: rgba(46, 46, 49, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 9999; }
  .loading__container .loading {
    animation: fade 1s forwards infinite; }

.loading {
  position: relative; }

.loading > div {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px; }

.loading div > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f7797d;
  position: absolute;
  top: 100px;
  left: 32px;
  animation: circle 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards; }

.loading div:nth-child(1) div {
  animation: circle2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #fbd786; }

.loading div:nth-child(2) div {
  animation-delay: -0.5s;
  background: #f7797d; }

.loading div:nth-child(3) div {
  animation-delay: -0.25s;
  background: #fbd786; }

.loading div:nth-child(4) div {
  animation-delay: 0s;
  background: #c6ffdd; }

.loading div:nth-child(5) div {
  animation: circle3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #fbd786; }

.loading {
  width: 200px !important;
  height: 200px !important;
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px); }

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 60vh;
  height: 50vh;
  border-radius: 2px;
  box-shadow: 0px .8rem 2rem #111;
  border-top: 4px solid #f7797d;
  font-size: 1rem;
  background-color: rgba(251, 251, 251, 0.9);
  background-image: url("../svg/food.svg"); }
  .settings h2 {
    font-weight: 100; }
  .settings form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem; }
    .settings form input {
      margin: .25rem; }
    .settings form button {
      text-transform: uppercase;
      margin: .5rem;
      border-radius: 50px;
      background: transparent;
      padding: 10px 50px;
      border: 2px solid #f7797d;
      color: #f7797d;
      text-transform: uppercase;
      font-size: 12px;
      outline: none;
      cursor: pointer;
      transition: all .25s; }
      .settings form button:hover {
        background: #f7797d;
        color: #fff; }
    .settings form span {
      padding-left: 1rem; }

input[type="checkbox"] {
  appearance: none;
  width: 40px;
  height: 16px;
  border: 1px solid #aaa;
  border-radius: 2px;
  background: #ffc2c4;
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  transition: background 0.3s;
  box-sizing: border-box;
  outline: none; }

input[type="checkbox"]:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 14px;
  height: 14px;
  background: white;
  border: 1px solid #aaa;
  border-radius: 2px;
  transition: left 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

input[type="checkbox"]:checked {
  background: #c6ffdd;
  border-color: #ffc2c4; }

input[type="checkbox"]:checked:after {
  left: 23px;
  border-color: #ffc2c4; }
