@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@keyframes turnt {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(185deg); } }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0); }
  20%, 80% {
    transform: translate3d(4px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0); }
  40%, 60% {
    transform: translate3d(8px, 0, 0); } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.landing__login, .landing__account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #35394a 0%, #1f222e 100%);
  border-radius: 2px;
  border-top: 4px solid #c6ffdd;
  height: 450px;
  width: 350px;
  box-shadow: 0px .8rem 2rem #111; }
  .landing__login--title, .landing__account--title {
    color: #c6ffdd;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-weight: bold;
    font-size: 32px;
    transform: translateX(0%) translateY(-25%); }
    .landing__login--title:before, .landing__login--title:after, .landing__account--title:before, .landing__account--title:after {
      content: '';
      padding: .9em .4em;
      position: absolute;
      left: 50%;
      width: 100%;
      top: 50%;
      border: 15px solid #c6ffdd;
      transform: translateX(-50%) translateY(-50%) rotate(-5deg);
      animation: 1s forwards alternate cubic-bezier(0.9, 0.2, 0.3, 1) turnt; }
    .landing__login--title:before, .landing__account--title:before {
      border-color: #f7797d #fbd786 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      z-index: -1; }
    .landing__login--title:after, .landing__account--title:after {
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fbd786 #f7797d;
      box-shadow: 1rem 1rem 2rem rgba(46, 46, 49, 0.6); }
  .landing__login h4, .landing__account h4 {
    color: #999;
    padding-top: 1rem; }
  .landing__login--email, .landing__login--password, .landing__login--username, .landing__account--email, .landing__account--password, .landing__account--username {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: .5rem; }
    .landing__login--email > input, .landing__login--password > input, .landing__login--username > input, .landing__account--email > input, .landing__account--password > input, .landing__account--username > input {
      outline: none;
      width: 40%;
      height: 20px;
      border-radius: 50px;
      background: transparent;
      padding: 10px 50px;
      border: 2px solid #f7797d;
      color: #f7797d;
      text-transform: uppercase;
      font-size: 11px;
      transition: all .25s; }
      .landing__login--email > input:focus, .landing__login--password > input:focus, .landing__login--username > input:focus, .landing__account--email > input:focus, .landing__account--password > input:focus, .landing__account--username > input:focus {
        border: 2px solid #c6ffdd; }
      .landing__login--email > input:hover, .landing__login--password > input:hover, .landing__login--username > input:hover, .landing__account--email > input:hover, .landing__account--password > input:hover, .landing__account--username > input:hover {
        background: rgba(0, 0, 0, 0.2); }
  .landing__login--submit, .landing__account--submit {
    text-transform: uppercase;
    margin: 1rem;
    border-radius: 50px;
    background: transparent;
    padding: 10px 50px;
    border: 2px solid #f7797d;
    color: #f7797d;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    transition: all .25s; }
    .landing__login--submit:hover, .landing__account--submit:hover {
      background: #f7797d;
      color: #fff; }
  .landing__login--account, .landing__account--account {
    color: #fff;
    font-size: 14px; }
    .landing__login--account > a, .landing__account--account > a {
      text-decoration: none;
      color: #f7797d;
      transition: all .25s; }
      .landing__login--account > a:hover, .landing__account--account > a:hover {
        color: #c6ffdd;
        letter-spacing: 1px; }

.landing__account--title:before, .landing__account--title:after {
  animation: 1s forwards reverse cubic-bezier(0.9, 0.2, 0.3, 1) turnt; }

.landing__dashboard--nav {
  display: flex;
  justify-content: center; }
  .landing__dashboard--nav_welcome {
    flex: 3;
    color: #1f222e;
    font-size: 18px;
    text-transform: uppercase;
    margin: 1rem; }
  .landing__dashboard--nav_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    list-style: none;
    margin: 1rem; }
    .landing__dashboard--nav_item > a {
      color: #1f222e;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase; }
      .landing__dashboard--nav_item > a > div, .landing__dashboard--nav_item > a img {
        transition: all .25s;
        margin: .25rem; }
      .landing__dashboard--nav_item > a:hover > img {
        transform: scale(1.2); }
      .landing__dashboard--nav_item > a:hover > div {
        font-weight: 600;
        letter-spacing: 2px; }

body {
  background-image: url("../icons/megatron-geometric.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.landing {
  font-family: 'Gudea', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  max-width: 100%; }
  .landing__dashboard {
    height: 70vh;
    width: 70vw;
    min-width: 450px;
    overflow-y: hidden;
    background: linear-gradient(to bottom right, rgba(251, 251, 251, 0.7) -100%, rgba(251, 251, 251, 0.9) 100%);
    border-radius: 2px;
    box-shadow: 0px .8rem 2rem #111; }
    .landing__dashboard--error {
      text-transform: uppercase;
      font-weight: 800;
      color: #1f222e; }

#particles canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; }

.dash__overlay {
  overflow-y: hidden; }

.dash__modal {
  font-family: 'Gudea', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  width: 100%;
  max-height: 90%;
  border-top: 4px solid #f7797d;
  border-radius: 2px;
  color: #fafbfc;
  background-color: #fefefe;
  background-image: url("../icons/food.svg");
  box-shadow: 0px .8rem 2rem #111; }
  .dash__modal h2 {
    flex: 1;
    color: #1f222e;
    font-weight: 100; }
  .dash__modal img {
    flex: 1; }
  .dash__modal form {
    flex: 1;
    width: 75%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .dash__modal form > span {
      width: 100%; }
  .dash__modal > form > span input {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background: rgba(46, 46, 49, 0.9);
    padding: 10px 50px;
    border: 2px solid #f7797d;
    color: #f7797d;
    text-transform: uppercase;
    font-size: 14px;
    transition: all .25s;
    outline: none; }
    .dash__modal > form > span input:focus {
      border: 3px solid #c6ffdd; }
    .dash__modal > form > span input:hover {
      background: rgba(0, 0, 0, 0.65); }

.dash__close {
  color: #fff;
  outline: none;
  cursor: pointer; }

.dash__icon {
  background-image: url("../icons/delete.svg");
  color: #fff;
  transition: all .25s; }
  .dash__icon:hover {
    transform: scale(1.2); }

.recipe__single-overlay {
  height: 100%; }

.recipe__single-modal {
  font-family: 'Gudea', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  overflow-y: hidden;
  border-radius: 2px;
  color: #fbfbfb;
  background-color: transparent;
  box-shadow: none; }

.recipe__single-close {
  color: #fff;
  outline: none;
  cursor: pointer; }

.recipe__single-icon {
  background-image: url("../icons/delete.svg");
  color: #fff;
  margin: 1.25rem;
  position: relative;
  transition: all .25s;
  z-index: 3;
  filter: drop-shadow(0px 2px 2px #1f222e); }
  .recipe__single-icon:hover {
    transform: scale(1.2); }

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 180px;
  position: relative;
  overflow: hidden;
  list-style: none;
  margin: .5rem;
  border-top: 2px solid #f7797d;
  border-radius: 4px;
  background: #fbfbfb;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  transition: all .25s ease;
  cursor: pointer; }
  .recipe:before {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(45deg, #fbd786 0%, rgba(251, 215, 134, 0) 70%), linear-gradient(135deg, #f7797d 10%, rgba(247, 121, 125, 0) 80%), linear-gradient(225deg, #c6ffdd 10%, rgba(198, 255, 221, 0) 80%), linear-gradient(315deg, #fbd786 100%, rgba(251, 215, 134, 0) 70%);
    opacity: 0.6;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% calc(60% - 2vw), 0% 60%);
    transition: all .75s ease; }
  .recipe__label {
    flex: 1;
    word-break: break-word;
    margin: .5rem;
    line-height: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    z-index: 2;
    position: relative;
    color: #2e3d49;
    transition: all .75s; }
  .recipe__image {
    flex: 1;
    clip-path: polygon(0 0, 100% 0, 100% calc(60% - 2vw), 0% 60%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: grayscale(150%);
    transition: all .75s; }
  .recipe__source {
    margin: 1rem;
    position: relative;
    align-self: flex-end;
    color: #2e3d49; }
  .recipe:hover {
    transform: scale(1.1); }
    .recipe:hover:before {
      opacity: .01;
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%); }
    .recipe:hover img {
      filter: contrast(100%);
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%); }
    .recipe:hover h4 {
      color: #fbfbfb;
      letter-spacing: 2px; }

.single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  border-top: 8px solid #f7797d;
  border-radius: 4px;
  background: #fbfbfb;
  box-shadow: 0px .8rem 2rem #111; }
  .single:before {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(45deg, rgba(251, 215, 134, 0.8) 0%, rgba(251, 215, 134, 0) 70%), linear-gradient(135deg, rgba(247, 121, 125, 0.8) 10%, rgba(247, 121, 125, 0) 20%), linear-gradient(225deg, rgba(198, 255, 221, 0.8) 10%, rgba(198, 255, 221, 0) 80%), linear-gradient(315deg, rgba(251, 215, 134, 0.8) 100%, rgba(251, 215, 134, 0) 70%);
    opacity: 0.6;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% calc(45% - 2vw), 0% 45%); }
  .single__label {
    flex: 1;
    width: 75%;
    word-break: break-word;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 4px;
    z-index: 1;
    position: relative;
    color: #fbfbfb; }
  .single__image {
    flex: 1;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%);
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-height: 400px;
    position: absolute; }
  .single h3 {
    color: #1f222e;
    text-align: center;
    z-index: 1; }
  .single__section {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    width: 100%;
    height: 100%; }
  .single__facts, .single__ingredients {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
    z-index: 1;
    margin: 1rem;
    color: #1f222e;
    height: 100%;
    width: 100%;
    min-width: 250px;
    max-height: 400px;
    border-radius: 4px;
    background: #fbfbfb;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2); }
  .single__ingredients {
    align-items: flex-start;
    overflow-y: scroll;
    overflow-x: hidden; }
    .single__ingredients-item {
      display: block;
      position: relative;
      padding-left: 2rem;
      margin-bottom: .5rem;
      cursor: pointer;
      font-size: 16px;
      user-select: none; }
      .single__ingredients-item > input {
        position: absolute;
        opacity: 0;
        cursor: pointer; }
      .single__ingredients-item:hover input ~ .checkmark {
        transition: all .25s;
        background: #f7797d; }
      .single__ingredients-item > input:checked ~ .checkmark {
        background: #c6ffdd; }
        .single__ingredients-item > input:checked ~ .checkmark:after {
          display: block; }
      .single__ingredients-item .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.4rem;
        width: 1.4rem;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 50%; }
        .single__ingredients-item .checkmark:after {
          content: "";
          position: relative;
          display: none;
          margin-left: 8px;
          width: 5px;
          height: 16px;
          border: solid #f7797d;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg); }

.social {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  flex: 1;
  z-index: 1;
  bottom: 0;
  margin-bottom: 3rem;
  width: 100%; }
  .social__bookmark, .social__facebook, .social__twitter, .social__more, .social__delete {
    transition: all .25s;
    cursor: pointer;
    filter: drop-shadow(0px 2px 2px #1f222e); }
    .social__bookmark:hover, .social__facebook:hover, .social__twitter:hover, .social__more:hover, .social__delete:hover {
      transform: scale(1.25); }
  .social__bookmark, .social__delete {
    margin-right: 3rem; }

@media all and (max-width: 745px) {
  .single {
    overflow-y: scroll; }
    .single__facts {
      justify-content: center; }
  .source {
    display: none; }
  .social {
    margin-bottom: 0; } }

@media all and (max-width: 450px) {
  .landing__dashboard {
    min-width: 95vw; }
    .landing__dashboard--nav {
      padding-left: 1rem;
      padding-right: 1rem; }
      .landing__dashboard--nav_item {
        transform: scale(0.6);
        margin: 0; } }

.recipes__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-shadow: inset 0 12px 24px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  overflow-y: scroll;
  padding: .5rem;
  margin: 1rem;
  height: 70%; }
  .recipes__container-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5vw;
    color: #2e3d49;
    font-weight: 100; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 6px; }

::-webkit-scrollbar-thumb {
  background: #f7797d;
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #ffc2c4; }

.loading__container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: rgba(46, 46, 49, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 9999; }
  .loading__container img {
    animation: fade 1s forwards infinite; }

.bookmarks {
  margin: 1rem;
  overflow-y: hidden;
  height: 100%; }
