.form__login, .form__account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #35394a 0%, #1f222e 100%);
  border-radius: 2px;
  border-top: 4px solid $green;
  height: 450px;
  width: 350px;
  box-shadow: 0px .8rem 2rem #111;
  &--title {
    color: $green;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-weight: bold;
    font-size: 32px;
    transform: translateX(0%) translateY(-25%);
    &:before, &:after {
      content: '';
      padding: .9em .4em;
      position: absolute;
      left: 50%;
      width: 100%;
      top: 50%;
      border: 15px solid $green;
      transform: translateX(-50%) translateY(-50%) rotate(-5deg);
      animation: 1s forwards alternate cubic-bezier(0.9, 0.2, 0.3, 1.0) turnt;
    }
    &:before {
      border-color: $pink $orange rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      z-index: -1;
    }
    &:after {
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $orange $pink;
      box-shadow: 1rem 1rem 2rem rgba(46, 46, 49, .6);
    }
  }
  & h4 {
    color: #999;
    padding-top: 1rem;
  }
  &--email, &--password, &--username {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: .5rem;
    & > input {
      outline: none;
      width: 40%;
      height: 20px;
      border-radius: 50px;
      background: transparent;
      padding: 10px 50px;
      border: 2px solid $pink;
      color: $pink;
      text-transform: uppercase;
      font-size: 11px;
      transition: all .25s;
      &:focus {
        border: 2px solid $green;
      }
      &:hover {
        background: rgba(0,0,0,.2);
      }
    }
  }
  &--submit {
    text-transform: uppercase;
    margin: 1rem;
    border-radius: 50px;
    background: transparent;
    padding: 10px 50px;
    border: 2px solid $pink;
    color: $pink;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    transition: all .25s;
    &:hover {
      background: $pink;
      color: #fff;
    }
  }
  &--account {
    color: #fff;
    font-size: 14px;
    & > a {
      text-decoration: none;
      color: $pink;
      transition: all .25s;
      &:hover {
        color: $green;
        letter-spacing: 1px;
      }
    }
  }
}

.form__account {
  &--title {
    &:before, &:after {
      animation: 1s forwards reverse cubic-bezier(0.9, 0.2, 0.3, 1.0) turnt;
    }
  }
}
