.loading__container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgba(46, 46, 49, .4);
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  & img {
    animation: fade 1s forwards infinite;
    transform: translateY(-16rem);
  }
}

@keyframes fade {
  0% { opacity: 0 }
  50% { opacity: 1 }
  100% { opacity: 0 }
}
