.dash__overlay {

}
.dash__modal {
  font-family: 'Gudea', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 4px solid $pink;
  border-radius: 4px;
  color: #fafbfc;
  background-color: #fefefe;
  background-image: url('../icons/food.svg');
  box-shadow: 0px .8rem 2rem #111;
  & h1 {
    color: #1f222e;
    font-weight: 100;
  }
  & > form {
    width: 50%;
    margin: 1rem;
  }
  & > form > input {
    width: 100%;
    height: 40px;
    border-radius: 50px;
    background: rgba(46, 46, 49, .9);
    padding: 10px 50px;
    border: 2px solid $pink;
    color: $pink;
    text-transform: uppercase;
    font-size: 14px;
    transition: all .25s;
    outline: none;
    &:focus {
      border: 3px solid $green;
    }
  }
}
.dash__close {
  color: #fff;
  outline: none;
  cursor: pointer;
}
.dash__icon {
  background-image: url('../icons/delete.svg');
  color: #fff;
  transition: all .25s;
  &:hover {
    transform: scale(1.2);
  }
}
