.navbar {
  display: flex;
  justify-content: center;
  &__item {
    list-style: none;
    margin: 1rem;
    & > a {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
