.navbar {
  display: flex;
  justify-content: center;
  height: 150px;
  overflow-x: hidden;
  &__avatar {
    flex: 3;
    color: #1f222e;
    font-size: 18px;
    text-transform: uppercase;
    margin: 1rem;
    & div {
      width: 100%;
      flex: 1;
      & label {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 120px;
        &:hover > .avatar__change {
          transform: translateY(-.5rem);
          opacity: 1;
        }
        & .avatar__change {
          opacity: 0;
          transition: all .25s;
          transform: translateY(4rem);
        }
        & h6 {
          line-height: 0;
          margin: 0;
        }
      }
      & .user__image {
        flex: 1;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 2px solid rgba(255,194,196,0.6);
        transition: linear 0.25s;
        &:hover {
          transition: ease-out 0.2s;
          border: 2px solid rgba(247,121,125,0.8);
        }
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    list-style: none;
    margin: 1rem;
    & > a {
      color: #1f222e;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      & > div, img {
        transition: all .25s;
        margin: .25rem;
      }
      &:hover {
        & > img {
          transform: scale(1.2);
        }
        & > div {
          font-weight: 600;
          letter-spacing: 2px;
        }
      }
    }
  }
}
